/ = javascript_include_tag \
/   "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", \
/   "all"
script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"
script src="javascripts/vendor/json2.js"
script src="javascripts/lib/jquery.collapse.js"
script src="javascripts/lib/jquery.collapse_storage.js"
script src="javascripts/lib/jquery.collapse_cookie_storage.js"
script src="javascripts/all.js" type="text/javascript"