/ = javascript_include_tag \
/   "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", \
/   "all"
= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"
script src="javascripts/all.js" type="text/javascript"