/! 主選單
.nav
  .main_menu
    ul
      / -(1..7).each do |n|
      /   li class="menu_0#{n}": a href="javascript:;" 0#{n}
      = nav_link_to("關於我們", "javascript:;",:class => "menu_01")
      = nav_link_to("最新消息", "javascript:;",:class => "menu_02")
      = nav_link_to("作物種原", "p1.html",:class => "menu_03 active")
      = nav_link_to("昆從標本", "p3.html",:class => "menu_04")
      = nav_link_to("研究成果", "p7.html",:class => "menu_05")
      = nav_link_to("生活百科", "javascript:;",:class => "menu_06")
      = nav_link_to("整合查詢", "javascript:;",:class => "menu_07")
/! /.nav
.wrapper
  = render  "partials/page_mainsearch"
  .container.p1
    .page_header
      h1.title 作物種原館
      p 此處需要一段文字簡介作物種原館，可將重點放在本館資料的收藏來源，或其他特色說明。此處需要一段文字簡介作物種原館，可將重點放在本館資料的收藏來源，或其他特色說明。此處需要一段文字簡介作物種原館，可將重點放在本館資料的收藏來源，或其他特色說明。
    .main
      - 4.times do
        a.box href="javascript:;"
          img src="http://placehold.it/400x300"
          h3 = zh_lorem_name