doctype 5
html lang="zh-TW"
  head
    = render "layout_head"
    = render "layout_og"
    noscript
      css:
        .es-carousel ul{
          display:block;
        }
    script#img-wrapper-tmpl type="text/x-jquery-tmpl" 
      .rg-image-wrapper
        .rg-image
        .rg-loading
        .rg-caption-wrapper
          .rg-caption style="display:none;" 
            p
  body
    = render "layout_header"
    /! 主選單
    .nav
      .main_menu
        ul
          / -(1..7).each do |n|
          /   li class="menu_0#{n}": a href="javascript:;" 0#{n}
          = nav_link_to("關於我們", "javascript:;",:class => "menu_01")
          = nav_link_to("最新消息", "javascript:;",:class => "menu_02")
          = nav_link_to("作物種原", "p1.html",:class => "menu_03")
          = nav_link_to("昆從標本", "p3",:class => "menu_04 active")
          = nav_link_to("研究成果", "javascript:;",:class => "menu_05")
          = nav_link_to("生活百科", "javascript:;",:class => "menu_06")
          = nav_link_to("整合查詢", "javascript:;",:class => "menu_07")
    /! /.nav
    .wrapper
      = render  "partials/page_mainsearch"
      .container.p6
        .page_header
          ul.breadcrumb
            li: h1.title 作物種原館
            li 目科瀏覽
            li 膜翅目
            li 蜜蜂科
            li 詳目顯示
        .row
          h1 學名／ Bombus (Melanobombus) rufofasciatus Smith, 1852
          .pre_page
        .main
          .left-col
            #rg-gallery.rg-gallery
              #rg-galleryShow
              .rg-thumbs
                /! Carousel Thumbnail Viewer
                .es-carousel-wrapper
                  .es-nav
                    span.es-nav-prev Previous
                    span.es-nav-next Next
                  .es-carousel
                    ul
                      li
                        a href="#" 
                          img alt="image01" data-large="images/1.jpg" src="images/thumbs/1.jpg"
                      li
                        a href="#" 
                          img alt="image02" data-large="images/2.jpg" src="images/thumbs/2.jpg"
                      li
                        a href="#" 
                          img alt="image03" data-large="images/1.jpg" src="images/thumbs/1.jpg"
                      li
                        a href="#" 
                          img alt="image04" data-large="images/2.jpg" src="images/thumbs/2.jpg"
                      li
                        a href="#" 
                          img alt="image01" data-large="images/1.jpg" src="images/thumbs/1.jpg"
            .tab
              ul.tab_head
                li.active rel="tabA"
                  img src="images/p6_tab_01.png" alt="相關作物"
                li rel="tabB"
                  img src="images/p6_tab_02.png" alt="相關昆蟲"
                li rel="tabC"
                  img src="images/p6_tab_03.png" alt="相關文獻"
              .tab_container
                #tabA.tab_content
                  ol
                    li: a href="javascript:;" = zh_lorem_sentences 2
                    li: a href="javascript:;" = zh_lorem_sentences 2
                    li: a href="javascript:;" = zh_lorem_sentences 2
                    li: a href="javascript:;" = zh_lorem_sentences 2
                #tabB.tab_content
                  /! 相關昆蟲
                #tabB.tab_content
                  /! 相關文獻
          .right-col
            table.table_01
              -10.times do
                tr
                  th scope="row"  欄位名稱
                  td = zh_lorem_sentences 3 

    
    = render "layout_footer"
    = render "layout_foot"
    = render "layout_livereload"
    script src="javascripts/vender/jquery.tmpl.min.js" type="text/javascript" 
    script src="javascripts/vender/jquery.easing.1.3.js" type="text/javascript" 
    script src="javascripts/vender/jquery.elastislide.js" type="text/javascript" 
    script src="javascripts/gallery.js" type="text/javascript" 