/! 主選單
.nav
  .main_menu
    ul
      / -(1..7).each do |n|
      /   li class="menu_0#{n}": a href="javascript:;" 0#{n}
      = nav_link_to("關於我們", "javascript:;",:class => "menu_01")
      = nav_link_to("最新消息", "javascript:;",:class => "menu_02")
      = nav_link_to("作物種原", "p1.html",:class => "menu_03")
      = nav_link_to("昆從標本", "p3",:class => "menu_04")
      = nav_link_to("研究成果", "p7.html",:class => "menu_05 active")
      = nav_link_to("生活百科", "javascript:;",:class => "menu_06")
      = nav_link_to("整合查詢", "javascript:;",:class => "menu_07")
/! /.nav
.wrapper
  = render  "partials/page_mainsearch"
  .container.p8
    .page_header
      ul.breadcrumb
        li: h1.title 研究成果典藏
        li 卷期瀏覽
    .mian
      / .left-col
      /   h3 卷期瀏覽
      /   ul
      /     li
      /       | 台灣農業研究
      /       ul
      /         li
      /          | 2013 年第 63 卷
      /         li
      /           | 2013 年第 62 卷
      /           ul
      /             li: a href="javascript:;" 第 1 期
      /             li: a href="javascript:;" 第 2 期
      /             li: a href="javascript:;" 第 3 期
      /             li: a href="javascript:;" 第 4 期
      /     li
      /      | 技術研究季刊
      /     li
      /      | 農業試驗所特刊
      .left-col
        h2.content_title 卷期瀏覽
        = render "partials/collapse"
      .right-col
        .row
          h1 台灣農業研究／ 2012年第62卷第1期
        table.libbr.table_03
          tr
            th scope="col"  題名
            th scope="col"  作者
          -9.times do
            tr
              td
                a href="javascript:;" =zh_lorem_sentences 1 
              td
                =zh_lorem_name
        .row
          .pagination
            = render "partials/search_pagination"