/*
 *
 *
 * 2. Global CSS
 * ----------------------------------------------------------------------------------------------
 */
body
  background: url(../images/bg.jpg)
  font-size: 13px
  line-height: 1.5
  color: $bodyTextColor
a
  color: $mariner
.logo
  position: absolute
  width: 360px
  height: 117px
  margin: auto
  top: 0
  right: 0
  left: 0
  bottom: 0  
.topnav
  position: absolute
  right: 0
  bottom: 0
  +size(215px 26px)
  [class^="icon_"]
    background-repeat: no-repeat
    background-position: left
  .icon_home
    background-image: url(../images/icon_home.png)
  .icon_sitemap
    background-image: url(../images/icon_sitemap.png)
  .icon_mail
    background-image: url(../images/icon_mail.png)
  li
    float: left
    a
      display: block
      padding-left: 20px
      color: $topnav
      text-decoration: none
  li + li
    margin-left: 15px
/* 主選單 */
.nav
  background: $navColor
  height: 45px
  .main_menu
    width: 819px
    margin: 0 auto
    ul
      +pie-clearfix
    li
      width: 117px
      float: left
//
//CSS Sprite
@import "compass/utilities/sprites"
@import "mainmenu/*.png"
+ all-my-icons-sprites
//
[class^="menu_"]
  display: block
  height: 45px
  +ir
  @extend .mainmenu-sprite
@for $i from 0 through 6
  .menu_0#{$i+1}
    background-position: -117px*$i top
  .menu_0#{$i+1}:hover,.menu_0#{$i+1}.active
    background-position: -117px*$i bottom
//
//index
.title_01
  background: url(../images/title_01.png)
.title_02
  background: url(../images/title_02.png)
.title_03
  background: url(../images/title_03.png)
.title_01,.title_02,.title_03
  height: 30px
  margin-bottom: 10px
  background-repeat: no-repeat
  +ir
.main
  .left_block
  .right_block
    .section
      +pie-clearfix
      p
        +size (394px 78px)
        overflow: hidden
      .icon_more
        @extend %ir
        display: block
        background: url(../images/more.png)
        +size(43px)
        margin-top: 30px
    .section + .section
      margin-top: 20px
/* 檢索 */
@mixin f_e
  border-radius: 5px
  padding: 5px 10px
  line-height: 17px
  height: 27px
.seach_block
  .inner
    padding: 10px
  input[type="text"], select
    +f_e
    border-style: solid
    border-width: 1px
    border-color: rgb( 185, 186, 63 )
  button
    +reset-box-model
    +f_e
    text-align: center
    vertical-align: middle
    color: white
  select, button
    margin-left: 5px
    cursor: pointer
.inline
  +pie-clearfix
  width: 100%
  h5, label, ul, li, label
    display: block
    float: left
.inline + .inline
  margin-top: 5px
.inline
  li, li + li
    margin-left: 5px
/* tab */
.tab
  .tab_head
    // background: url(../images/tab_bg.png) no-repeat 245px bottom
    border-bottom: 1px solid $wasabi
    height: 50px
    margin-top: -50px
    li
      font-size: 15px
      float: left
      cursor: pointer
      padding: 18px 10px 0 15px
      line-height: 32px
      color: $tabHeaderLink
      overflow: hidden
      &:hover, &.active
        color: $tabHeaderActive
      &.active
        display: block
        background: url(../images/tab_bg.png) no-repeat left bottom
    li:first-child
      margin-left: 260px
  .tab_container
    width: 100%
  .tab_content
    padding: 15px
    border-top: 0px
    display: none
/* */
.mainsearch
  @extend %right
  padding-top: 10px
/* */
.p1
  .page_header
    clear: both
    padding: 10px 0 30px
    .title
      @extend %ir
      background-image: url(../images/p1_title.png)
      +size(225px 61px)
  a.box
    background: #fff
    padding: 8px
    text-decoration: none
    h3
      text-align: center
      font-size: 15px
      color: nth($linkColor,2)
      text-weight: bold
      padding: 3px
      