.wrapper
  width: 960px
  margin: 0 auto
.header
  background: url(../images/header_bg.png)
  height: 130px
  position: relative
.footer
  background: url(../images/footer_bg.png) bottom center no-repeat
  height: 98px
  border-bottom: 2px solid $paleOyster
.logo
  position: absolute
  width: 360px
  height: 117px
  margin: auto
  top: 0
  right: 0
  left: 0
  bottom: 0
