.wrapper
  width: 960px
  margin: 0 auto
.header
  background: url(../images/header_bg.png)
  height: 130px
  position: relative
.main
  padding: 30px 0
  .left_block
    +span-columns(6)
  .right_block
    +span-columns(6 omega)
.footer
  background: url(../images/footer_bg.png) bottom center no-repeat
  height: 98px
  border-bottom: 2px solid $paleOyster
  font-size: 12px
  color: $footerTextColor
.footer_inner
  width: 530px
  margin: 20px auto
  text-align: center
  li
    display: inline-block
    margin: 0 5px
  li + li