.pagination
  text-align: center
  float: right
  ul, li
    list-style: none
  li
    float: left
  a
    +size(18px 24px)
    text-decoration: underline
    font-size: 11px
    line-height: 24px
    &:hover
    display: inline-block
    text-align: center
    cursor: pointer
    coloer: nth($linkColor,1)
    display: block
  .current
    font-weight: bold
    color: #000
    text-decoration: none

  .pagination-first, .pagination-prev, .pagination-next, .pagination-last
    +size(24px)
//CSS Sprite
@import "compass/utilities/sprites"
@import "pagination/*.png"
+all-pagination-sprites 
