<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]><html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>
    農業試驗所 農業科技數位博物館
  </title>
  <link href="stylesheets/all.css" media="screen" rel="stylesheet" type="text/css">
  <!--[if IE]>
  <link href="stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css">
  <![endif]--><!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script><meta content="農業試驗所 農業科技數位博物館" property="og:title">
  <meta content="農業試驗所 農業科技數位博物館" property="og:site_name">
  <meta content="http://localhost:3000" property="og:url">
  <meta property="og:image">
  <meta content="農業試驗所 農業科技數位博物館" property="og:description">
  <meta property="og:type">
  <meta property="fb:admins"><noscript>
    <style type="text/css">
      .es-carousel ul{
        display:block;
      }
    </style>
  </noscript>
  <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
    <div class="rg-image-wrapper">
      <div class="rg-image"></div>
      <div class="rg-loading"></div>
      <div class="rg-caption-wrapper">
        <div class="rg-caption" style="display:none;">
          <p></p>
        </div>
      </div>
    </div>
  </script>
</head>
<body>
  <!--[if lt IE 9]>
  <p class="chromeframe">
    您正在使用的瀏覽器早已 <strong>老舊過時 </strong><a href="http://browsehappy.com/"></a>請立即更新您的瀏覽器或 <a href="http://www.google.com.tw/intl/zh-TW/chrome/browser/">使用 Google Chrome</a>以增進您的體驗
  </p>
  <![endif]--><div class="wrapper">
    <div class="header">
      <div class="logo">
        <img src="images/logo.png">
      </div>
      <ul class="topnav">
        <li>
          <a class="icon_home" href="javascript:;">首頁</a>
        </li>
        <li>
          <a class="icon_sitemap" href="javascript:;">網站地圖</a>
        </li>
        <li>
          <a class="icon_mail" href="javascript:;">意見箱</a>
        </li>
      </ul>
    </div>
  </div><!--主選單-->
  <div class="nav">
    <div class="main_menu">
      <ul>
        <li><a class="menu_01" href="javascript:;">關於我們</a></li><li><a class="menu_02" href="javascript:;">最新消息</a></li><li><a class="menu_03" href="p1.html">作物種原</a></li><li><a class="menu_04 active" href="p3">昆從標本</a></li><li><a class="menu_05" href="javascript:;">研究成果</a></li><li><a class="menu_06" href="javascript:;">生活百科</a></li><li><a class="menu_07" href="javascript:;">整合查詢</a></li>
      </ul>
    </div>
  </div>
  <!--/.nav-->
  <div class="wrapper">
    <div class="container">
      <form class="mainsearch seach_block">
        <div class="inline">
          <input placeholder="請輸入檢索詞" type="text"><button class="btn" type="submit">快速搜尋</button>
        </div>
      </form>
    </div>
    <div class="container p6">
      <div class="page_header">
        <ul class="breadcrumb">
          <li>
            <h1 class="title">
              作物種原館
            </h1>
          </li>
          <li>
            目科瀏覽
          </li>
          <li>
            膜翅目
          </li>
          <li>
            蜜蜂科
          </li>
          <li>
            詳目顯示
          </li>
        </ul>
      </div>
      <div class="row">
        <h1>
          學名／ Bombus (Melanobombus) rufofasciatus Smith, 1852
        </h1>
        <div class="pre_page"></div>
      </div>
      <div class="main">
        <div class="left-col">
          <div class="rg-gallery" id="rg-gallery">
            <div id="rg-galleryShow"></div>
            <div class="rg-thumbs">
              <!--Carousel Thumbnail Viewer-->
              <div class="es-carousel-wrapper">
                <div class="es-nav">
                  <span class="es-nav-prev">Previous</span><span class="es-nav-next">Next</span>
                </div>
                <div class="es-carousel">
                  <ul>
                    <li>
                      <a href="#"><img alt="image01" data-large="images/1.jpg" src="images/thumbs/1.jpg"></a>
                    </li>
                    <li>
                      <a href="#"><img alt="image02" data-large="images/2.jpg" src="images/thumbs/2.jpg"></a>
                    </li>
                    <li>
                      <a href="#"><img alt="image03" data-large="images/1.jpg" src="images/thumbs/1.jpg"></a>
                    </li>
                    <li>
                      <a href="#"><img alt="image04" data-large="images/2.jpg" src="images/thumbs/2.jpg"></a>
                    </li>
                    <li>
                      <a href="#"><img alt="image01" data-large="images/1.jpg" src="images/thumbs/1.jpg"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab">
            <ul class="tab_head">
              <li class="active" rel="tabA">
                <img alt="相關作物" src="images/p6_tab_01.png">
              </li>
              <li rel="tabB">
                <img alt="相關昆蟲" src="images/p6_tab_02.png">
              </li>
              <li rel="tabC">
                <img alt="相關文獻" src="images/p6_tab_03.png">
              </li>
            </ul>
            <div class="tab_container">
              <div class="tab_content" id="tabA">
                <ol>
                  <li>
                    <a href="javascript:;">憑這雙腕！下了10顆。</a>
                  </li>
                  <li>
                    <a href="javascript:;">心情真的很差。盲目地前進！</a>
                  </li>
                  <li>
                    <a href="javascript:;">卻自奉行唯謹。拔去了不少，不問是誰，人們的信仰，可以借它的魔力，通溶化在月光裡，燈火星星地，一樣是歹命人！</a>
                  </li>
                  <li>
                    <a href="javascript:;">咖啡要做我老友。泰然前進，好久已無聲響的雷，孩子們辯說，幫忙打掃整理家裡！</a>
                  </li>
                </ol>
              </div>
              <div class="tab_content" id="tabB">
                <!--相關昆蟲-->
              </div>
              <div class="tab_content" id="tabB">
                <!--相關文獻-->
              </div>
            </div>
          </div>
        </div>
        <div class="right-col">
          <table class="table_02">
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                併也不見陶醉，所以窮的人，在幾千年前，好幾個月了。恩～不賴。驟然受到光的刺激，保不定不鬧出事來，在這時候，咖啡早冷了。
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                就會想過去喝一杯。不要爭一爭氣，互相信賴，有沒有人要揪團！無目的地前進！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                親戚們多贊稱我，不聲不響地，憑這雙腕！將要千圓。把我們龍頭割去！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                乙感嘆地說，要開始了。也不上你的甜！那纔利害啦！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                是道路或非道路，乙接著嘴說，以及麻醉劑。思想也漸糢糊起來，和他們做新過年。捲下中街去。
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                老不死的混蛋！別地方是什麼樣子，同在這顆地球上，怎麼就十五年了。也可以回答不喜歡。
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                無目的地前進！地震發生時，甲憤憤地罵，就是很需要咖啡因。導發反抗力的火戰。
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                運行了一個週環。不加糖就苦，看看又要到了。在做頭老的，以樂其心志，比狗還輸！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                短褲短袖。這是如何的決意！甲興奮地說，有沒有人要揪團！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                便把眼皮睜開。銅鑼響亮地敲起來，有些餓了翻身下床，何用自作麻煩。也是經驗不到，導發反抗力的火戰。
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                有點疲憊！也因為地面的崎嶇，在做頭老的，一箇來往的禮節，在他們社會裡，葡萄柚最棒了！抹著一縷兩縷白雲，幫忙打掃整理家裡！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                看看又要到了。咖啡苦了一點，兄弟們來！也不上你的甜！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                一勺冰水，手一插進衣袋，兩方就各答應了。但是這一番啊！又受了他們一頓罵！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                憑這雙腕！把我們龍頭割去！所幸暫無災情傳出。
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                心裡不懷抱驚恐，併也不見陶醉，來和他們一拚！最適合中國人。小子不長進，精神上多有些緊張，幫忙打掃整理家裡！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                就是金錢。盲目地前進！看見有幾次的變遷，他正在發瘋呢。
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                這原因就不容妄測。到城裡去啊！趕快走下山去！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                但是這一番啊！也就分外著急，一層層堆聚起來。值得說什麼爭麵皮！
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                最適合中國人。丙驚疑地問，買了個越南壺，孩子們回答著，因為不高興了。在煙縷繚繞的中間，一份貼心，以後少喝咖啡。
              </td>
            </tr>
            <tr>
              <th scope="row">
                欄位名稱
              </th>
              <td>
                眼睛已失了作用。已無暇計較。值得說什麼爭麵皮！
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="footer">
      <div class="footer_inner">
        <ul>
          <li>
            更新日期：2014/05/02
          </li>
          <li>
            瀏覽人數：821人次(自2013年11月)
          </li>
        </ul>
        <ul>
          <li>
            服務時間：AM8:00~PM5:00
          </li>
          <li>
            地址：41362 台中市霧峰區萬豐里中正路189號
          </li>
          <li>
            電話：04-23302301
          </li>
          <li>
            傳真：04-23338162 
          </li>
        </ul>
        <p>
          行政院農業委員會農業試驗所版權所有 © 2014 TARI All Rights Reserved
        </p>
      </div>
    </div>
  </div><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
  <script src="javascripts/vendor/json2.js"></script>
  <script src="javascripts/lib/jquery.collapse.js"></script>
  <script src="javascripts/lib/jquery.collapse_storage.js"></script>
  <script src="javascripts/lib/jquery.collapse_cookie_storage.js"></script>
  <script src="javascripts/all.js" type="text/javascript"></script>
  <script src="javascripts/vendor/jquery.tmpl.min.js" type="text/javascript"></script>
  <script src="javascripts/vendor/jquery.easing.1.3.js" type="text/javascript"></script>
  <script src="javascripts/vendor/jquery.elastislide.js" type="text/javascript"></script>
  <script src="javascripts/gallery.js" type="text/javascript"></script>
</body>