<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]><html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>
    農業試驗所 農業科技數位博物館
  </title>
  <link href="stylesheets/all.css" media="screen" rel="stylesheet" type="text/css">
  <!--[if IE]>
  <link href="stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css">
  <![endif]--><!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script><meta content="農業試驗所 農業科技數位博物館" property="og:title">
  <meta content="農業試驗所 農業科技數位博物館" property="og:site_name">
  <meta content="http://localhost:3000" property="og:url">
  <meta property="og:image">
  <meta content="農業試驗所 農業科技數位博物館" property="og:description">
  <meta property="og:type">
  <meta property="fb:admins">
</head>
<body>
  <!--[if lt IE 9]>
  <p class="chromeframe">
    您正在使用的瀏覽器早已 <strong>老舊過時 </strong><a href="http://browsehappy.com/"></a>請立即更新您的瀏覽器或 <a href="http://www.google.com.tw/intl/zh-TW/chrome/browser/">使用 Google Chrome</a>以增進您的體驗
  </p>
  <![endif]--><div class="wrapper">
    <div class="header">
      <div class="logo">
        <img src="images/logo.png">
      </div>
      <ul class="topnav">
        <li>
          <a class="icon_home" href="javascript:;">首頁</a>
        </li>
        <li>
          <a class="icon_sitemap" href="javascript:;">網站地圖</a>
        </li>
        <li>
          <a class="icon_mail" href="javascript:;">意見箱</a>
        </li>
      </ul>
    </div>
  </div><!--主選單-->
  <div class="nav">
    <div class="main_menu">
      <ul>
        <li><a class="menu_01" href="javascript:;">關於我們</a></li><li><a class="menu_02" href="javascript:;">最新消息</a></li><li><a class="menu_03" href="p1.html">作物種原</a></li><li><a class="menu_04" href="p3">昆從標本</a></li><li><a class="menu_05 active" href="p7.html">研究成果</a></li><li><a class="menu_06" href="javascript:;">生活百科</a></li><li><a class="menu_07" href="javascript:;">整合查詢</a></li>
      </ul>
    </div>
  </div>
  <!--/.nav-->
  <div class="wrapper">
    <div class="container">
      <form class="mainsearch seach_block">
        <div class="inline">
          <input placeholder="請輸入檢索詞" type="text"><button class="btn" type="submit">快速搜尋</button>
        </div>
      </form>
    </div>
    <div class="container p8">
      <div class="page_header">
        <ul class="breadcrumb">
          <li>
            <h1 class="title">
              研究成果典藏
            </h1>
          </li>
          <li>
            卷期瀏覽
          </li>
        </ul>
      </div>
      <div class="main">
        <div class="left-col">
          <h2 class="content_title">
            卷期瀏覽
          </h2>
          <div class="collapse">
            <h3>
              台灣農業研究
            </h3>
            <div class="block">
              <ul>
                <li>
                  2013 年第 63 卷
                </li>
                <li>
                  2013 年第 62 卷
                  <ul>
                    <li>
                      <a href="javascript:;">第 1 期</a>
                    </li>
                    <li>
                      <a href="javascript:;">第 2 期</a>
                    </li>
                    <li>
                      <a href="javascript:;">第 3 期</a>
                    </li>
                    <li>
                      <a href="javascript:;">第 4 期</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <h3>
              技術研究季刊
            </h3>
            <div class="block">
              <ul>
                <li>
                  2013 年第 63 卷
                </li>
                <li>
                  2013 年第 62 卷
                  <ul>
                    <li>
                      <a href="javascript:;">第 1 期</a>
                    </li>
                    <li>
                      <a href="javascript:;">第 2 期</a>
                    </li>
                    <li>
                      <a href="javascript:;">第 3 期</a>
                    </li>
                    <li>
                      <a href="javascript:;">第 4 期</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <h3>
              農業試驗所特刊
            </h3>
            <div class="block">
              <ul>
                <li>
                  2013 年第 63 卷
                </li>
                <li>
                  2013 年第 62 卷
                  <ul>
                    <li>
                      <a href="javascript:;">第 1 期</a>
                    </li>
                    <li>
                      <a href="javascript:;">第 2 期</a>
                    </li>
                    <li>
                      <a href="javascript:;">第 3 期</a>
                    </li>
                    <li>
                      <a href="javascript:;">第 4 期</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right-col">
          <div class="row">
            <h1>
              台灣農業研究／ 2012年第62卷第1期
            </h1>
          </div>
          <table class="libbr table_03">
            <tr>
              <th scope="col">
                題名
              </th>
              <th scope="col">
                作者
              </th>
            </tr>
            <tr>
              <td>
                <a href="javascript:;">葡萄柚最棒了！</a>
              </td>
              <td>
                <a href="javascript:;">韋伶瑩</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:;">雨太太的好意，幫忙打掃整理家裡！</a>
              </td>
              <td>
                <a href="javascript:;">楊珊敏</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:;">剛纔經市長一說，憑這雙腕！</a>
              </td>
              <td>
                <a href="javascript:;">郝君倫</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:;">盲目地前進！</a>
              </td>
              <td>
                <a href="javascript:;">史元麗</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:;">移動自己的腳步。</a>
              </td>
              <td>
                <a href="javascript:;">姜玲宜</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:;">面包已經烤好了，一箇來往的禮節，實在想不到！</a>
              </td>
              <td>
                <a href="javascript:;">黃英</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:;">有點疲憊！</a>
              </td>
              <td>
                <a href="javascript:;">夏弘麗</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:;">黃金難買少年心。</a>
              </td>
              <td>
                <a href="javascript:;">顧弘</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:;">幫忙打掃整理家裡！</a>
              </td>
              <td>
                <a href="javascript:;">蘇敏</a>
              </td>
            </tr>
          </table>
          <div class="row">
            <div class="pagination">
              <li>
                <a class="pagination-first"><<</a>
              </li>
              <li>
                <a class="pagination-prev"><</a>
              </li>
              <li>
                <a class="current">1</a>
              </li>
              <li>
                <a>2</a>
              </li>
              <li>
                <a>3</a>
              </li>
              <li>
                <a class="pagination-next">></a>
              </li>
              <li>
                <a class="pagination-last">>></a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="wrapper">
    <div class="footer">
      <div class="footer_inner">
        <ul>
          <li>
            更新日期：2014/05/02
          </li>
          <li>
            瀏覽人數：821人次(自2013年11月)
          </li>
        </ul>
        <ul>
          <li>
            服務時間：AM8:00~PM5:00
          </li>
          <li>
            地址：41362 台中市霧峰區萬豐里中正路189號
          </li>
          <li>
            電話：04-23302301
          </li>
          <li>
            傳真：04-23338162 
          </li>
        </ul>
        <p>
          行政院農業委員會農業試驗所版權所有 © 2014 TARI All Rights Reserved
        </p>
      </div>
    </div>
  </div><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
  <script src="javascripts/vendor/json2.js"></script>
  <script src="javascripts/lib/jquery.collapse.js"></script>
  <script src="javascripts/lib/jquery.collapse_storage.js"></script>
  <script src="javascripts/lib/jquery.collapse_cookie_storage.js"></script>
  <script src="javascripts/all.js" type="text/javascript"></script>
</body>