@mixin text-size-adjust($type: text-size-adjust) {
  @include prefixer(text-size-adjust, $type, webkit ms);
}

// 文字替換圖片時
// 表準瀏覽器直接2就可以
// 原生7,8不支援color的transparent，所以采用1;
@mixin ir($height:99){
  font: 0/0 a; //1
  text-shadow: none;
  border:0 none;
  color: transparent; //2
}
%ir{
  @include ir;
}