// Color
$mariner:         #3366cc //海藍
$shingleFawn:     #705034 //深褐色
$paleOyster:      #9C8D7F
$wasabi:          #6d952e
$shadow:          #7d704d
$verdunGreen:     #3a7a00
$earlsGreen:      #b9ba3f
$pineGlade:       #c9ca95
$brownRust:       #B27940
$dingley:         #717e46
$parisWhite:      #d4e4e0

$linkColor:       $mariner, $shingleFawn
$navColor:        $shingleFawn
$bodyTextColor:   $shingleFawn
$footerTextColor: $shingleFawn
$tabHeader:       $wasabi
$tabHeaderLink:   $shadow
$tabHeaderActive: darken($shadow, 20%)
$topnav:          $verdunGreen
$table01:         $dingley, lighten($dingley, 10%), lighten($dingley, 50%), lighten($dingley, 35%), lighten($dingley, 55%)
$table02:         $brownRust, lighten($brownRust, 10%), lighten($brownRust, 40%), lighten($brownRust, 35%), lighten($brownRust, 45%)
$table03:         darken($parisWhite, 50%), darken($parisWhite, 20%), lighten($parisWhite, 5%), darken($parisWhite, 5%), lighten($parisWhite, 5%)
$collapseColor:   $parisWhite, darken($parisWhite, 50%)