// Color
$mariner:         #3366cc
$shingleFawn:     #705034
$paleOyster:      #9C8D7F
$wasabi:          #6d952e
$shadow:          #7d704d
$verdunGreen:     #3a7a00
$earlsGreen:      #b9ba3f
$pineGlade:       #c9ca95
$linkColor:       $mariner, $shingleFawn
$navColor:        $shingleFawn
$bodyTextColor:   $shingleFawn
$footerTextColor: $shingleFawn
$tabHeader:       $wasabi
$tabHeaderLink:   $shadow
$tabHeaderActive: darken($shadow, 20%)
$topnav:          $verdunGreen